* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
.container {
  padding: 3vh;
}
.heroSec {
  position: relative;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  height: 50px;
  width: 50px;
}

nav .navList li {
  display: inline;
  margin-left: 20px;
  cursor: pointer;
  font-size: 18px;
}
.nav-btn {
  display: none;
}
#menuIcon, #closeIcon {
  display: none;
}
.heroBg {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    object-fit: cover;
}

/* nav btn display */
@media screen and (max-width: 478px) {
  .container {
    padding: 1vh 3vh;
  }
  nav .navList {
    background: black;
    position: fixed;
    height: 40vh;
    top: 10vh;
    right: -100%;
    width: 100%;
    overflow: hidden;
    transition:  0.4s ease-in-out;
    z-index: 999;
  }
  nav .navList li {
    display: block;
    margin-bottom: 20px;
  }
  nav .navList li a {
    color: #fff;
  }
  .nav-btn {
    display: block;
  }
#menuIcon{
  display: block;
  
}

}


