* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: sans-serif;
  scroll-behavior: smooth;

}

.container {
  padding: 3vh;
}

.vidSec {
  position: relative;
  /* padding-bottom: 2vh; */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8vh;
}

header img {
  height: 50px;
  width: 50px;
  margin: 5px;
  cursor: pointer;
}

nav .navList {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 3vh;
  border-radius: 50px;
  margin: 5px;
}

nav .navList li {
  display: inline;
  margin-left: 20px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
}

nav .navList li a {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
  color: #16155f;
  cursor: pointer;
}
nav .navList li a:hover {
  transform: scale(1.2);
}

.nav-btn {
  display: none;
}

#menuIcon,
#closeIcon {
  display: none;
  cursor: pointer;
}

#home {
  position: relative;
  height: auto;
  overflow: hidden;
  color: #16155f;
}

.heroBg {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
}

.hero {
  text-align: center;
}

.hero h1 {
  text-align: center;
  width: auto;
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 5vh;
  /* color: #16155f; */
  color: #1A1F71;
  /* font-family: springwood display Demo; */
}

.hero p {
  font-size: 18px;
  font-weight: 700;
}

#home .col3 {
  margin: 10vh 0;
  width: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.col3 .span1 {
  background: #16155f;
  color: #fff;
  padding: 8px 13px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.col3 .span2 {
  border: 2px solid #16155f;
  padding: 5px 11px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 800;
}

#about {
  /* background: #fbf4fd; */
  background: #fff;
  backdrop-filter: blur(6px);
  padding: 7vh;
  margin-bottom: 7vh;
}

.about-des {
  margin-bottom: 10vh;
}

.about-des h1 {
  width: auto;
  font-size: 70px;
  text-align: center;
  margin: 20px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #16155f;
}

.about-des p {
  font-size: 19px;
  text-align: center;
  margin-bottom: 5vh;
  color: #16155f;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  width: 250px;
  border-radius: 8px;
  overflow: hidden;
  /* box-shadow: opx 2px 4px rgba(0, 0, 0, 0.2); */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px; 
  margin: 20px;
  position: relative;

}
.card img {
  display: block;
  width: 100%;
  height: auto;
}
.card-content h3 {
  font-size: 28px;
  margin-bottom: 8px;
  color: #f5f5f5;
}
.card-content p {
  font-size: 15px;
  line-height: 1.3;
  margin: 50px 0;
}
/* .card-content .btn {
  padding: 8px;
  width: 39%;
  background: #fff;
  font-weight: 530;
  color: #000;
  text-decoration: none;
  border-radius: 4px;
  
} */
.card-content .btn {
  padding: 8px 12px;
  width: fit-content;
  background: #ffffff;
  color: #1f3d47;
  font-weight: 600;
  border-radius: 4px;
  transition: 0.3s ease;
}

.card-content .btn:hover {
  background: #1f3d47;
  color: #ffffff;
}

.card-content {
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 2vh;
  top: 0;
  right: -100%;
  position: absolute;
  background-color: #1f3d4734;
  backdrop-filter: blur(5px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s ease-in-out;
}
.card:hover .card-content {
  right: 0;
}



#menu {
  background: #fbf4fd;
  padding: 1rem;
}

.menulist {
  width: 320px;
  background: #e7f29d;
  background: linear-gradient(216deg, rgba(231, 242, 157, 1) 0%, rgba(217, 216, 194, 1) 50%, rgba(255, 132, 56, 1) 100%);
  padding: 1rem;
  overflow: hidden;
  position: relative;
  border-radius: 18px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

#favIcon {
  fill: #FFf;
  position: absolute;
  top: 2px;
  right: 0;
  background: #FF8438;
  padding: 5px;
  border-radius: 0 0 0 10px;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee {
  display: flex;
  width: fit-content;
  animation: scroll 15s linear infinite;
  overflow: hidden;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.marquee img {
  transition: 0.3s ease;
  border-radius: 16px;
  flex-shrink: 0;
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin: 0 15px;
}

.marquee img:hover {
  transform: scale(1.1);
  border-radius: 16px;
}

.marquee:hover img {
  filter: blur(4px);
  transform: scale(0.9);
}

.marquee img:hover {
  filter: blur(0);
  transform: scale(1.1);
}

.marquee-container:hover .marquee {
  animation-play-state: paused;
}


/* 
.menuimg img {
  border-radius: 16px;
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.menuimg img:hover {
  transform: scale(1.1, 1.1);
}
.menuimg img:hover > .menuimg img:not(:hover) {
  filter: blur(10px);
  transform: scale(0.9, 0.9);
}


.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee {
  display: flex;
  width: max-content;
  animation: scroll 15s linear infinite;
}

.marquee img {
  height: 120px;
  margin-right: 20px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}




.menuimg {
  display: flex;
  gap: 10px;
}

.menuimg img {
  transition: 0.3s ease;
  border-radius: 16px;
  flex-shrink: 0;
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.menuimg img:hover {
  transform: scale(1.1);
  border-radius: 16px;
}

.menuimg:hover img {
  filter: blur(4px);
  transform: scale(0.9);
}

.menuimg img:hover {
  filter: blur(0);
  transform: scale(1.1);
} */













/* nav btn display */
@media screen and (max-width: 550px) {
  .container {
    padding: 0;
  }

  header {
    margin: 0 5px 10vh 5px;
  }

  nav .navList {
    background: #d9d8c2;
    position: fixed;
    height: 35vh;
    top: 8vh;
    right: -105%;
    width: 100%;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    z-index: 999;
  }

  nav .navList li {
    display: block;
    margin-bottom: 20px;
  }

  nav .navList li a {
    color: #000;
    font-size: 19px;
    font-weight: 900;
  }

  .nav-btn {
    display: block;
  }

  #menuIcon {
    display: block;
  }

}




@media screen and (max-width:1169px) {
  .about-cat img {
    margin: 2vh 0;
  }
}

@media screen and (max-width: 868px) {
  .hero h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 868px) {
  .about-cat img {
    margin: 1vh;
  }
}

@media screen and (max-width:952px) {
  .hero h1 {
    font-size: 60px;
  }

  #about h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 804px) {
  #about h1 {
    font-size: 50px;
  }
}

@media screen and (max-width:576px) {
  .hero h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 588px) {
  #about h1 {
    font-size: 40px;
  }

}

@media screen and (max-width: 490px) {
  .about-cat {
    flex-direction: column;
  }

  .about-cat img {
    margin: 2vh 0;
    height: 40vh;
    width: 200px;
  }
}

@media screen and (max-width: 452px) {
  .hero h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 320px) {
  .hero h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 361px) {
  .hero h1 {
    font-size: 35px;
  }
}