* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  padding: 3vh;
}

.vidSec {
  position: relative;
  /* padding-bottom: 2vh; */
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8vh;
}

header img {
  height: 50px;
  width: 50px;
  margin: 5px;
  cursor: pointer;
}

nav .navList {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 3vh;
  border-radius: 50px;
  margin: 5px;
}

nav .navList li {
  display: inline;
  margin-left: 20px;
  cursor: pointer;
  font-size: 18px;
}

nav .navList li a {
  color: #000;
  cursor: pointer;
}

.nav-btn {
  display: none;
}

#menuIcon,
#closeIcon {
  display: none;
}

#home {
  position: relative;
  height: auto;
  overflow: hidden;
}

.heroBg {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
}

.hero {
  text-align: center;
}

.hero h1 {
  text-align: center;
  width: auto;
  margin: ;
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 5vh;
  color: #000;
  /* font-family: springwood display Demo; */
}

.hero p {
  font-size: 18px;
  font-weight: 700;
}

#home .col3 {
  margin: 10vh 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.col3 .span1 {
  background: black;
  color: #fff;
  padding: 7px 13px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.col3 .span2 {
  border: 1px solid #000;
  padding: 5px 11px;
  border-radius: 5px;
  cursor: pointer;
}

#about {
  background: #eeebe2;
  padding: 3vh;
}

.about-des {
  margin-bottom: 15vh;
}

.about-des h1 {
  font-size: 70px;
  text-align: center;
  margin: 20px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.about-des p {
  font-size: 19px;
  text-align: center;
  margin-bottom: 5vh;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 320px;
  height: 350px;
  /* background-color: #f0c20a; */
  background-color: #d9d8c2;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-img {
  width: 100%;
  width: 100%;
  object-fit: cover;
}

.card-body {
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 3vh;
  top: 0;
  right: -100%;
  position: absolute;
  background-color: #1f3d4734;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s ease-in-out;
}

.card:hover .card-body {
  right: 0;
}

.card-title {
  text-transform: uppercase;
  font-size: 30px;
}

.card-des {
  text-transform: capitalize;
  font-size: 15px;
  line-height: 25px;
  font-weight: 700;
  margin: 40px 0;
}

.card-btn {
  text-transform: uppercase;
  padding: 10px 20px;
  width: 120px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}














/* nav btn display */
@media screen and (max-width: 550px) {
  .container {
    padding: 0;
  }

  header {
    margin: 0 5px 10vh 5px;
  }

  nav .navList {
    background: #d9d8c2;
    ;
    position: fixed;
    height: 35vh;
    top: 8vh;
    right: -105%;
    width: 100%;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    z-index: 999;
  }

  nav .navList li {
    display: block;
    margin-bottom: 20px;
  }

  nav .navList li a {
    color: #000;
    font-size: 19px;
    font-weight: 900;
  }

  .nav-btn {
    display: block;
  }

  #menuIcon {
    display: block;
  }
}

@media screen and (max-width:1169px) {
  .about-cat img {
    margin: 2vh 0;
  }
}

@media screen and (max-width: 868px) {
  .hero h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 868px) {
  .about-cat img {
    margin: 1vh;
  }
}

@media screen and (max-width:952px) {
  .hero h1 {
    font-size: 60px;
  }

  #about h1 {
    font-size: 60px;
  }
}

@media screen and (max-width: 804px) {
  #about h1 {
    font-size: 50px;
  }
}

@media screen and (max-width:576px) {
  .hero h1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 588px) {
  #about h1 {
    font-size: 40px;
  }

}

@media screen and (max-width: 490px) {
  .about-cat {
    flex-direction: column;
  }

  .about-cat img {
    margin: 2vh 0;
    height: 40vh;
    width: 200px;
  }
}

@media screen and (max-width: 452px) {
  .hero h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 320px) {
  .hero h1 {
    font-size: 30px;
  }
}

@media screen and (max-width: 361px) {
  .hero h1 {
    font-size: 35px;
  }
}